alabaster 
anyio
argon2-cffi 
argon2-cffi-bindings 
asttokens 
attrs 
Babel 
backcall 
backports.functools-lru-cache 
beautifulsoup4 
bleach 
brotlipy 
certifi==2022.12.7
cffi 
charset-normalizer 
colorama 
comm 
cryptography 
debugpy 
decorator 
defusedxml 
docutils 
entrypoints 
executing 
fastjsonschema 
flit_core 
idna 
imagesize 
importlib-metadata 
importlib-resources 
ipykernel 
ipython 
ipython-genutils==0.2.0
ipywidgets 
jedi 
Jinja2 
json5 
jsonschema
jupyter_client 
jupyter_core 
jupyterlab 
jupyterlab-pygments 
jupyterlab-widgets 
jupyterlab_server
MarkupSafe 
matplotlib-inline 
mistune 
nbclassic 
nbclient 
nbconvert 
nbformat
nbsphinx 
nest-asyncio 
notebook 
notebook_shim 
numpy 
packaging 
pandocfilters 
parso 
pickleshare 
pkgutil_resolve_name 
platformdirs 
prometheus-client 
prompt-toolkit
psutil 
pure-eval 
pycparser 
Pygments 
pyOpenSSL 
pyrsistent 
PySocks 
python-dateutil 
pytz 
pypiwin32==223
pywinpty 
pyzmq 
requests 
Send2Trash 
six 
sniffio 
snowballstemmer 
soupsieve 
Sphinx 
sphinxcontrib-applehelp 
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp 
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml 
stack-data 
terminado 
tinycss2 
tomli 
tornado 
traitlets
typing_extensions 
urllib3 
voila 
wcwidth 
webencodings==0.5.1
websocket-client 
websockets 
widgetsnbextension 
win-inet-pton 
zipp 
