anyio==1.0.0  
argon2-cffi==20.1.0 
argon2-cffi-bindings==0.2.0 
asttokens==2.0.0 
attrs==21.3.0 
Babel==3.0.0 
backcall==0.2.0 
backports.functools-lru-cache==1.7.0 
beautifulsoup4==4.0.0 
bleach==3.0.0 
brotlipy==0.7.0 
certifi==2022.12.7
cffi==1.14.3 
charset-normalizer==1.0.0 
colorama==0.5.0 
comm==0.1.0 
cryptography==3.2.0 
debugpy==2.0.0 
decorator==5.2.0 
defusedxml==0.7.0 
entrypoints==0.7.0 
